fastapi
uvicorn[standard]
pydantic
python-multipart
httpx

numpy
scipy
polars
pandas
pyarrow
openpyxl

scikit-learn
joblib

xgboost
lightgbm

matplotlib

opencv-python
pillow
ultralytics


torch
torchvision
torchaudio


transformers
datasets
tokenizers
sentence-transformers

shap

python-dotenv
tqdm
requests
